.container {
	padding: 1.5rem;
}
.\!container {
	padding: 1.5rem !important;
}


.border {
	border-width: 1px;
	border-style: solid;
	border-color: oklch(var(--b3));
}
[class*='border-']{
	border-color: oklch(var(--bc) / 10%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 修改 daisyui */
:root {
	/* 降低颜色明度 */
	--er: 0 80% 40%;
}
/* 浅色主题背景色 */
:root[data-theme='light'] {
	background-color: hsl(var(--b2));
}
/* 灯箱 */
img[data-lightbox] {cursor: pointer;}


@media (min-width: 1280px) {
	.container {
		max-width: 80rem;
	}
	.\!container {
		max-width: 80rem !important;
	}
}
@media (max-width: 768px){
	.container {max-width: 100%;}
}


.text-shadow {
	text-shadow: 1px 1px 2px oklch(var(--b1));
}

.text-app {color: oklch(var(--app-c));}
.text-app-content {color: #fff;}
.bg-app {background-color: oklch(var(--app));}
.border-app {border-color: oklch(var(--app-c));}
.btn-app {
	background-color: oklch(var(--app));border-color: oklch(var(--app));
	color: #fff;outline-color: oklch(var(--app-c));
}
.btn-app:hover {
	background-color: color-mix(in oklab, oklch(var(--app)), black 18%);
}
:root {
  --app: .686283 .185567 148.958922;
  --app-c: .78 .2 149.11;
	--swiper-pagination-color: oklch(var(--app));
	--swiper-pagination-bullet-inactive-color: #fff;
}

.grid-pattern {
	background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
	background-size: 40px 40px, 40px 40px;
	background-position: -1px -1px, -1px -1px;
}


/* 简历 */
.p-profile {padding: 3rem 3rem 2.5rem 3rem;}
.px-profile {padding-left: 3rem;padding-right: 3rem;}
@media (max-width: 768px){
  .p-profile {padding: 2rem;padding-top: 3rem;}
  .px-profile {padding-left: 2rem;padding-right: 2rem;}
}
@media (min-width: 768px) {
	.profile-pdf .p-profile {padding: 4rem 4rem 3rem 4rem;}
	.profile-pdf .px-profile {padding-left: 4rem;padding-right: 4rem;}
}
@media (min-width: 1024px) {
	.profile-pdf .p-profile {padding: 5rem 7rem 4rem 7rem;}
	.profile-pdf .px-profile {padding-left: 7rem;padding-right: 7rem;}
}